@include respond(tab-land) {

    @keyframes slideover {
        0% { left:100%; margin-left: 100%; }
        100% { left:0; margin-left: 0;}
    }
    
    @-webkit-keyframes slideover {
        0% { left:100%; margin-left: 100%; }
        100% { left:0; margin-left: 0;}
    }

    @keyframes slideback {
        0% { left:0; margin-left: 0; }
        100% { left:100%; left:100%; }
    }
    
    @-webkit-keyframes slideback {
        0% { left:0; margin-left: 0; }
        100% { left:100%; left:100%; }
    }
   
    header {    
        height:96px;

        .header-utlity {
            display:none !important;
        }
        
        #header-top {
            max-width: 100%;
            padding:0 30px !important;

            &_left {
                width:auto;
                justify-content: flex-start;
                
                a {
                    img {
                        width: auto;
                        height: 100%;
                    }
                }
            }
        }

        #header-bottom {
            height: 50px;
            background:$ltblue;
            
            #header-top_menu {
                #menu-main-menu {
                    display:block;
                    flex-wrap: wrap;
                    padding: 0 !important;
                    top: 50px;
                    margin:0;
                    position: absolute;
                    background:$dkgrey;
                    left: 100%;
                    width: 100%;
                    box-sizing: border-box;
                    height: calc(100vh - 96px);
                    overflow: visible;
                    position: absolute !important;

                    &.opened {
                        -webkit-animation: .5s ease 0s normal forwards 1 slideover;
                        animation: .5s ease 0s normal forwards 1 slideover;

                        &::before {
                            position: absolute;
                            top:-50px;
                            height:50px;
                            width: 100%;
                            content:"";
                            background:none;
                        }
                    }

                    &.closed {
                        -webkit-animation: .5s ease 0s normal forwards 1 slideback;
                        animation: .5s ease 0s normal forwards 1 slideback;
                    }

                    li {
                        display:flex;
                        margin: 0;
                        flex-wrap: wrap;
                        padding-bottom: 0;
                        padding: 0;
                        height:55px;
                        justify-content: flex-start;

                        // show mobile-only stuff on mobile

                        &.mobile {
                            display:flex !important;

                            a {
                                background-color: $dkblue !important;
                                color:$white !important;
                                width: calc(100% - 80px) !important;
                                justify-content: flex-end;
                                box-sizing: border-box;
                            }
                        }

                        &::after {
                            position: absolute;
                            bottom: 0;
                            content: "";
                            left: 30px;
                            width: calc(100% - 60px);
                            background: white;
                            height: 1px;
                            opacity: .2;
                        }

                        &:nth-child(1) {
                            .sub-menu {
                                top:0;

                                @include mobile-subnav-menus
                            }
                        }

                        &:nth-child(2) {
                            .sub-menu {
                                top:-56px;

                                @include mobile-subnav-menus
                            }
                        }

                        &:nth-child(3) {
                            .sub-menu {
                                top:-110px;

                                @include mobile-subnav-menus
                            }
                        }

                        &:nth-child(4) {
                            .sub-menu {
                                top:-168px;

                                @include mobile-subnav-menus
                            }
                        }

                        &:nth-child(5) {
                            .sub-menu {
                                top:-224px;

                                @include mobile-subnav-menus
                            }
                        }

                        &:nth-child(6) {
                            .sub-menu {
                                top:-280px;

                                @include mobile-subnav-menus
                            }
                        }

                        &.nav-contact {
                            margin:0 30px 70px;
                            background:none;
                            border-bottom: none;
                            
                            a {
                                width: -webkit-max-content !important;
                                width: -moz-max-content !important;
                                width: max-content !important;
                                display: flex;
                                justify-content: center;
                                box-sizing: border-box;
                                background: $dkblue;
                                padding: 10px 50px !important;
                            }
                        }

                        .accordion-toggle,
                        .accordion-toggle2 {
                            position: absolute;
                            top: 18px;
                            right: 30px;
                            z-index: 99;
                            width: 20px;
                            height: 20px;
                            transition:$trans;
                            display:flex;
                            justify-content: center;
                            align-items: center;

                            span {
                                color: $white;
                                font-size: 20px;
                                transition:$trans;
                            }

                            &.toggle-background {
                                transform: rotate(180deg) !important;
                                transition:$trans;
                            } 
                        } 

                        // hover states to display sub-menu
                        &:hover, 
                        > a:focus ~, 
                        > a:focus-visible ~ {
                            a {
                                &:before {
                                    right: 20px;
                                }
                            }

                            .sub-menu {
                                -webkit-animation:none;
                                animation:none;

                                li {
                                    a {
                                        background:none;
                                        color:$white !important;

                                        &:hover {
                                            color:$white !important;
                                        }
                                    }

                                    &:hover {
                                        background:$dkgrey;
                                    }

                                    // nested 3rd level flyout
                                    .sub-menu {
                                        display:none;
                                        position: absolute;
                                        top: 0 !important;
                                        margin-left: 100%;

                                        &:hover {
                                            display:block;
                                        }
                                    }
                                }
                            }
                        }

                        // active menu states for current page / current parent
                        &.current-menu-parent,
                        &.current-menu-item,
                        &.current-page-ancestor {
                            a {
                                color:$white !important;
                                background:none;
                                text-decoration: underline;
                                border-bottom: none !important;

                                &:before {
                                    display:none !important;
                                }
                            }

                            &:hover {
                                a {
                                    color:$white;
                                }

                                .sub-menu {
                                    left:0;

                                    .current_page_item {
                                        a {
                                            color:$white !important;
                                        }
                                    }
                                }
                            }
                        }

                        a {
                            margin-right: 40px;
                            
                            &:before {
                                display:none;
                            }
                        }

                        @include nav-search-mobile;

                        a {
                            padding:20px 30px !important;
                            width:auto !important;
                        }

                        .sub-menu {
                            position: absolute;
                            width: 100%;
                            left: 100%;
                            padding: 0;
                            transition: none;
                            margin-bottom: 0;
                            top: 0;
                            box-sizing: border-box;
                            transition:$trans;
                            z-index: 100 !important;
                            height: calc(100vh - 76px);
                            display: block !important;
                            background:$dkgrey;

                            .child-close {
                                position: absolute;
                                top: -41px;
                                right: 30px;
                                text-transform: uppercase;
                                font-size: 14px;
                                font-weight: bold;
                                letter-spacing: 1px;
                                display: flex;
                                align-items: center;
                                border-radius: 50px;
                                padding:10px;
                                background:$white;
                                color:$dkblue;
                            }

                            &.opened {
                                -webkit-animation: .5s ease 0s normal forwards 1 slideover;
                                animation: .5s ease 0s normal forwards 1 slideover;
                            }

                            &.closed {
                                -webkit-animation: .5s ease 0s normal forwards 1 slideback;
                                animation: .5s ease 0s normal forwards 1 slideback;
                            }

                            li {
                                height:55px;

                                a {
                                    color:$white !important;
                                }

                                .sub-menu {
                                    .tertiary-close {
                                        position: absolute;
                                        top: -58px;
                                        left: 13px;
                                        text-transform: uppercase;
                                        font-size: 14px;
                                        font-weight: bold;
                                        letter-spacing: 1px;
                                        display: flex;
                                        align-items: center;
                                        height: 25px;
                                        width: 75px;
                                    }

                                    &.opened {
                                        -webkit-animation: .3s ease 0s normal forwards 1 slideover;
                                        animation: .3s ease 0s normal forwards 1 slideover;
                                    }
    
                                    &.closed {
                                        -webkit-animation: .3s ease 0s normal forwards 1 slideback;
                                        animation: .3s ease 0s normal forwards 1 slideback;
                                    }
                                }
                            }
                        }
                    }
                }

                #header-top_mobile {
                    display: block;
                    position: absolute;
                    top: 0px;
                    left: 25px;
                    height: 50px;
                    width: 60px;
                    border: white;
                    border-radius: 0;
                    background: $ltblue;
                    padding: 10px;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    #menu-icon {
                        width: 40px;
                        height: 40px;
                        position: relative;
                        display: block;
                        margin-top: 0px;
                        margin-right: 0;
                        transition: all 0.4s;
                        -webkit-transition: all 0.4s;
                        -moz-transition: all 0.4s;
        
                        .line {
                            display: block;
                            background:$white;
                            width: 30px;
                            height: 3px;
                            position: absolute;
                            left: 5px;
                            transition: all 0.4s;
                            -webkit-transition: all 0.4s;
                            -moz-transition: all 0.4s;
        
                                &.line-1 {
                                    top: 25%;
                                }
        
                                &.line-2 {
                                    top: 50%;
                                }
        
                                &.line-3 {
                                    top: 75%;
                                }
                            }
        
                            &.active {
                                transform: rotateY(180deg);
                                
                                .line-1 {
                                    transform: translateY(12px) translateX(0) rotate(45deg);
                                    -webkit-transform: translateY(12px) translateX(0) rotate(45deg);
                                    -moz-transform: translateY(12px) translateX(0) rotate(45deg);
                                    margin-left: -3px;
                                    margin-top: -2px;
                                    width: 36px !important;
                                }
        
                                .line-2 {
                                    opacity: 0;
                                }
        
                               .line-3 {
                                    transform: translateY(-12px) translateX(0) rotate(-45deg);
                                    -webkit-transform: translateY(-12px) translateX(0) rotate(-45deg);
                                    -moz-transform: translateY(-12px) translateX(0) rotate(-45deg);
                                    margin-top: 2px;
                                    margin-left: -4px;
                                    width: 36px !important;
                                }
                            }
        
                            &.toggle-nav {
                                transition-delay:.1s;
        
                                &.active {
                                    transition-delay:.1s;
                                }
                            }
                        }
                }
            }
        }
    }
}