/**
 * Sass variables and functions.
 *
 * @package Postali Child
 * @author Postali LLC
 */

// Breakpoints
$desktop-full: 1920px;
$desktop-xl: 1620px;
$desktop-lg: 1400px;
$desktop: 1200px;
$tab-land: 1024px;
$tab-port: 820px;
$phone: 600px;

// Containers
$container-max-width: 1400px;
$container-padding:30px;

// Transitions
$transition-speed:.3s;
$transition-fast:.3s ease-in-ease-out;
$transition-slow:.5s ease-in-ease-out;

// Core Colors
$blk: #000000;
$white: #FFFFFF;
$ltgrey: #f5f5f5;
$mdgrey: #515151;
$dkgrey: #282828;
$dkblue: #24354a;
$ltblue: #2099da;
$orange: #f89520;
 
$link-transition-speed: .15s;
$trans: 0.2s linear;

// Typography
$sans: "Oxygen", sans-serif;
$serif: "Abril Fatface", serif;
$montserrat: "Montserrat", sans-serif;
$icomoon: 'Icomoon';

$body-line-height: 130%;

// Font Weight
$normal: 400;
$bold: 700; 
$black: 900;
